<h3>Tasks list:</h3>
<ul>
  <% @tasks.each do |f| %>
    <li>
      <%= f.link %>
      <%= f.link("edit", :action => 'edit', :class => "some_class", :style => "whatever") %>
    </li>
  <% end %>
</ul>

